{% extends "base.html" %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <h1>You wanna pick a random question?</h1>
    </div>

    <div class="row" id="card-row">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="https://mdbootstrap.com/img/Photos/Others/photo7.jpg" alt="Avatar" style="width:500px;height:300px;">
                    <h1>Question</h1>
                    <p>{{card.question}}</p>
                </div>
                <div class="flip-card-back">
                    <img src="https://mdbootstrap.com/img/Photos/Others/photo5.jpg" alt="Avatar" style="width:500px;height:300px;">
                    <h1>Answer</h1>
                    <p>{{card.answer}}</p>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}