{% extends "base.html" %} {% block content %}
<div class="container-fluid">

    <div class="row">
        <h1>Quiz creator</h1>
        <!-- {{quizzes}} -->
    </div>

    <div class="row">
        <ul>
            {% for topic in quiz %}
            <li>{{topic.question}}: {{topic.answer}}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="row">
        <h2>Create a quiz</h2>
        <br>

        <form action="/quiz_creator" method="POST">
            <!-- <label for="question">Question</label>
            <input type="text" name="question" id="question" required />
            <label for="answer">Answer</label>
            <input type="text" name="answer" id="answer" required /><br> -->
            <button type="submit" class="btn btn-primary" value="Add Quiz">Add Quiz</button>
        </form>
    </div>


</div>
{% endblock %}