{% extends "base.html" %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <h1>Hi!</h1>
        <p>This is the quiz:</p>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <th>ID</th>
                <th>Question</th>
                <th>Answer</th>
            </thead>
            <tbody>

                {% for topic in quiz %}
                <tr>
                    <td>{{topic.id}}</td>
                    <td> {{topic.question}}</td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal{{ topic.id }}">View Answer
                        </button>
                        <div class="modal fade" id="myModal{{ topic.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="myModalLabel">
                                            Question: {{topic.question}}
                                        </h5>
                                    </div>
                                    <div class="modal-body">
                                        Answer: {{topic.answer}}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <form method="POST" action="/quiz/{{topic.id}}/answer">
                            <input type="hidden" value="{{topic.id}}" name="topic_id">
                            <input type="text" value="{{topic.user_answer}}" name="new_user_answer">
                            <button type="submit" value="Answer">Give your answer</button>
                        </form>
                    </td>
                    <td>Real answer: {{topic.answer}}</td>
                    <td>Your answer: {{topic.user_answer}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

    <div class="row">
        <h1>Your score: {{score}}</h1>
    </div>


</div>
{% endblock %}